/* global reset + foundation */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: var(--spacing-1);
    height: var(--spacing-1);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-icon-dark-medium);
    border-radius: var(--radius-large-4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-red-100);
    border-radius: var(--radius-large-4);
  }
}

html {
  font-family: var(--font-family);
  font-size: var(--font-text-base-size);
  line-height: var(--font-text-base-line-height);
  font-weight: var(--font-text-base-weight);
  letter-spacing: var(--font-text-base-letter-spacing);
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg-light);
  color: var(--color-text-dark);
  display: flex;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-6);
  padding-bottom: var(--spacing-5);
  gap: var(--spacing-5);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  flex: 1;
  overflow: auto;
}

h1 {
  font-size: var(--font-heading-1-size);
  line-height: var(--font-heading-1-line-height);
  font-weight: var(--font-heading-1-weight);
  letter-spacing: var(--font-heading-1-letter-spacing);
}
h2 {
  font-size: var(--font-heading-2-size);
  line-height: var(--font-heading-2-line-height);
  font-weight: var(--font-heading-2-weight);
  letter-spacing: var(--font-heading-2-letter-spacing);
}

.caption {
  font-size: var(--font-text-caption-size);
  line-height: var(--font-text-caption-line-height);
  font-weight: var(--font-text-caption-weight);
  letter-spacing: var(--font-text-caption-letter-spacing);
}

a,
.link {
  font-size: var(--font-text-link-size);
  line-height: var(--font-text-link-line-height);
  font-weight: var(--font-text-link-weight);
  letter-spacing: var(--font-text-link-letter-spacing);
  text-decoration: var(--font-text-link-text-decoration);
  text-underline-offset: var(--font-text-link-text-underline-offset);
  color: var(--color-text-dark);
  padding: var(--spacing-1) var(--spacing-2);
}

label,
.label-1,
.label-2 {
  font-size: var(--font-text-label-size);
  line-height: var(--font-text-label-line-height);
  font-weight: var(--font-text-label-weight);
  letter-spacing: var(--font-text-label-letter-spacing);
}
.label-2 {
  font-weight: var(--font-weight-semibold);
}

.number-1 {
  font-size: var(--font-text-number-1-size);
  line-height: var(--font-text-number-1-line-height);
  font-weight: var(--font-text-number-1-weight);
  letter-spacing: var(--font-text-number-1-letter-spacing);
}
.number-2 {
  font-size: var(--font-text-number-2-size);
  line-height: var(--font-text-number-2-line-height);
  font-weight: var(--font-text-number-2-weight);
  letter-spacing: var(--font-text-number-2-letter-spacing);
}
.number-3 {
  font-size: var(--font-text-number-3-size);
  line-height: var(--font-text-number-3-line-height);
  font-weight: var(--font-text-number-3-weight);
  letter-spacing: var(--font-text-number-3-letter-spacing);
  text-decoration: var(--font-text-number-3-text-decoration-line);
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Убрать стрелки у инпута с типом number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* Изменить крестик у инпута с типом search */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
  outline: none;
}
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-cancel-button {
  width: var(--icon-20);
  height: var(--icon-20);
  background: url("/ui-kit/assets/icons/cross.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

button,
select,
a {
  cursor: pointer;
}

button {
  font-size: var(--font-text-button-size);
  line-height: var(--font-text-button-line-height);
  font-weight: var(--font-text-button-weight);
  letter-spacing: var(--font-text-button-letter-spacing);
}

input {
  font-size: var(--font-text-base-size);
  line-height: var(--font-text-base-line-height);
  font-weight: var(--font-text-base-weight);
  letter-spacing: var(--font-text-base-letter-spacing);
  color: var(--color-text-dark);
}
