.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.gap-1 {
  gap: var(--spacing-1);
}
.gap-2 {
  gap: var(--spacing-2);
}
.gap-3 {
  gap: var(--spacing-3);
}
.gap-4 {
  gap: var(--spacing-4);
}
.gap-5 {
  gap: var(--spacing-5);
}
.gap-6 {
  gap: var(--spacing-6);
}
.width-full {
  width: 100%;
}
.no-underline {
  text-decoration-line: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden {
  display: none;
}
