.checkbox {
  width: var(--icon-24);
  height: var(--icon-24);
  background-color: var(--color-bg-white);
  border: var(--border-1) solid var(--color-stroke-medium);
  border-radius: var(--radius-large-1);
  position: relative;
  cursor: pointer;
}

.checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--icon-24);
  height: var(--icon-24);
  background-color: var(--color-bg-white);
  mask: url("../../assets/icons/check.svg") no-repeat center / contain;
  opacity: 0;
}

.checkbox:checked::after {
  opacity: 1;
}

.checkbox:checked {
  border: none;
  background-color: var(--color-bg-dark);
}

.checkbox:disabled {
  border: var(--border-1) solid var(--color-stroke-light);
  background-color: var(--color-bg-white);
  cursor: not-allowed;
}
