.input-container {
  width: 100%;
  position: relative;
}
.input-container--quantity {
  width: 149px;
}
.input-container--number {
  width: 90px;
}
.input-label {
  color: var(--color-text-dark-medium);
}
.input-label--disabled {
  color: var(--color-text-medium);
}
.input-field {
  padding: var(--spacing-2) var(--spacing-4);
  width: 100%;
  background-color: var(--color-bg-white);
  border: var(--border-1) solid var(--color-stroke-light);
  border-radius: var(--radius-large-2);
  caret-color: var(--color-red-100);
  transition: border-color 0.2s ease;
}
.input-field::placeholder {
  color: var(--color-text-light);
}
.input-field--error {
  border-color: var(--color-stroke-error);
  color: var(--color-text-error);
}
.input-error {
  color: var(--color-text-error);
}

.input-search {
  background-image: url("/ui-kit/assets/icons/loupe.svg");
  background-repeat: no-repeat;
  background-position: var(--spacing-4) center;
  background-size: var(--icon-24);
  padding-left: calc(var(--spacing-4) + var(--icon-24) + var(--spacing-2));
}
.input-search--tall {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.quantity-input {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}
.quantity-control {
  width: var(--icon-20);
  height: var(--icon-20);
}
.quantity-value {
  text-align: center;
  width: inherit;
}
.quantity-value--error {
  color: var(--color-text-error);
}

.phone-input {
  display: flex;
  align-items: center;
  padding: var(--spacing-2) var(--spacing-3);
  gap: var(--spacing-2);
  background: var(--color-bg-white);
  border: var(--border-1) solid var(--color-stroke-light);
  border-radius: var(--radius-large-2);
}
.phone-input--error {
  border-color: var(--color-stroke-error);
}
.phone-flag {
  width: var(--icon-20);
  height: var(--icon-20);
}
.phone-prefix {
  color: var(--color-text-dark-medium);
}
.phone-value {
  padding: 0;
  padding-left: var(--spacing-2);
  border: none;
  border-left: var(--border-1) solid var(--color-stroke-light);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.phone-value--error {
  color: var(--color-text-error);
}
