.list {
  width: 100%;
  overflow: auto;
}
.list__item {
  justify-content: space-between;
  border-bottom: var(--border-1) solid var(--color-stroke-light);
}

.product-item__sku {
  color: var(--color-text-dark-medium);
}
.product-item__stock {
  gap: var(--spacing-1);
}
.product-item__stock-storage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-item__price_old {
  color: var(--color-text-dark-medium);
}

.category-item {
  padding: var(--spacing-3) var(--spacing-4);
  gap: var(--spacing-1);
}
.category-item:hover {
  background-color: var(--color-bg-light);
  border-top-left-radius: var(--radius-large-2);
  border-bottom-left-radius: var(--radius-large-2);
}
.category-item__sku {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  color: var(--color-icon-dark-medium);
}

.description-list {
  gap: var(--spacing-2);
}
.description-item {
  padding: var(--spacing-2) 0;
}

.promotions-list {
  gap: var(--spacing-2);
}
.promotions-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-white);
  border-radius: var(--radius-large-3);
  padding: var(--spacing-3) var(--spacing-4);
}
.promotions-item__link {
  gap: var(--spacing-4);
  padding: 0;
  text-decoration: none;
}

.client-list,
.promotion-list,
.warehouses-list {
  padding: var(--spacing-4);
  background-color: var(--color-bg-white);
  border-radius: var(--radius-large-3);
}

.client-item__name,
.orders-item__warehouse-name {
  flex: 1;
}

.cart-item__block {
  align-items: center;
  gap: var(--spacing-1);
}
.cart-item__block .caption {
  color: var(--color-text-dark-medium);
}
.cart-item__quantity {
  width: 149px;
  text-align: center;
}

.product-item,
.warehouses-item,
.orders-item,
.cart-item,
.client-item {
  padding: var(--spacing-4) 0;
}

.product-item__stock,
.category-item,
.description-list,
.promotions-item__link,
.cart-item__block,
.promotions-list {
  display: flex;
  flex-direction: column;
}

.list__item,
.product-item__info,
.product-item__price,
.promotions-item__badges,
.promotions-item__controllers,
.cart-item__info {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.client-item,
.orders-item {
  gap: var(--spacing-5);
}

.product-item,
.warehouses-item,
.cart-item {
  display: grid;
  align-items: center;
}

.product-item--catalog {
  grid-template-columns:
    minmax(0, 244fr) minmax(0, 119fr) minmax(0, 149fr) minmax(0, 115fr)
    minmax(0, 40fr);
}
.product-item--similar {
  grid-template-columns:
    minmax(0, 244fr) minmax(0, 149fr) minmax(0, 76fr)
    minmax(0, 40fr);
}
.product-item--promotion {
  grid-template-columns: minmax(0, 616fr) minmax(0, 183fr) minmax(0, 193fr);
  gap: var(--spacing-6);
}
.product-item--cart {
  grid-template-columns:
    minmax(0, 207fr) minmax(0, 124fr) minmax(0, 149fr) minmax(0, 42fr)
    minmax(0, 130fr) minmax(0, 20fr);
  gap: var(--spacing-4);
}
.warehouses-item {
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: var(--spacing-5);
}

.warehouses-item__field,
.product-item__title,
.cart-item__title,
.orders-item__warehouse-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}
