.logo_full,
.logo_cropped {
  height: 68px;
}
.logo_full {
  width: 300px;
  content: url("../../assets/logos/logo-full.png");
}
.logo_cropped {
  width: 120px;
  content: url("../../assets/logos/logo.png");
}
