.client__container--update {
  padding: var(--spacing-4);
  background-color: var(--color-bg-white);
  border-radius: var(--radius-large-3);
}
.client-form__container--update {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.client-form__container--update > .input-container:last-child {
  grid-column: 1 / -1;
}
