.client-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-4) 0;
  border-bottom: var(--border-1) solid var(--color-stroke-light);
}
.client-field > .caption {
  color: var(--color-text-dark-medium);
}
