.product-list {
  padding: 16px;
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-large-3);
}

.product-list-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-6);
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-large-2);
}